<?xml version="1.0"?>
<config>
    <modules>
        <Frequent_Questions>
            <version>0.2.0</version>
        </Frequent_Questions>
    </modules>
    <global>
        <events>
            <controller_action_postdispatch_frequent_questions_index_view>
                <observers>
                    <Frequent_Questions>
                        <type>model</type>
                        <class>Frequent_Questions_Model_Observer</class>
                        <method>viewAnswers</method>
                    </Frequent_Questions>
                </observers>
            </controller_action_postdispatch_frequent_questions_index_view>
        </events>
        <blocks>
            <frequent_questions>
                <class>Frequent_Questions_Block</class>
            </frequent_questions>
        </blocks>
        <helpers>
            <frequent_questions>
                <class>Frequent_Questions_Helper</class>
            </frequent_questions>
        </helpers>
        <models>
            <frequent_questions>
                <class>Frequent_Questions_Model</class>
                <resourceModel>questions_resource</resourceModel>
            </frequent_questions>
            <questions_resource>
                <class>Frequent_Questions_Model_Resource</class>
                <entities>
                    <question>
                        <table>frequent_questions</table>
                    </question>
                </entities>
            </questions_resource>
        </models>
        <resources>
            <frequent_questions_setup>
                <setup>
                    <module>Frequent_Questions</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </frequent_questions_setup>
            <questions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </questions_write>
            <questions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </questions_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <Frequent_Questions>
                <use>standard</use>
                <args>
                    <module>Frequent_Questions</module>
                    <frontName>questions</frontName>
                </args>
            </Frequent_Questions>
        </routers>
        <layout>
            <updates>
                <frequent_questions>
                    <file>frequent/questions.xml</file>
                </frequent_questions>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <frequent_questions>
                    <file>frequent/questions.xml</file>
                </frequent_questions>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <frequent_questions before="Mage_Adminhtml">Frequent_Questions_Adminhtml</frequent_questions>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
